<!DOCTYPE html>
<html>
<head>
    <title>add</title>
    <link rel = "stylesheet" href = "/static/css/bootstrap.css">
</head>
<body>
    <h3>添加学员信息</h3>
    <form style = "width: 400px; margin: 100px auto;" method="post">
        <div class="row">
            <div class="col">
              <input type="text" class="form-control" placeholder="姓名" aria-label="姓名" name="username">
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="语文" aria-label="语文" name="chinese">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="数学" aria-label="数学" name="math">
              </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="英语" aria-label="英语" name="english">
              </div>
          </div>
        <button type="submit" class="btn btn-primary">添加</button>
      </form>
</body>
</html>